################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomobileDemo/.vs/AutomobileDemo
/AutomobileDemo/AutomobileDemo/bin/Debug/netcoreapp2.1
/AutomobileDemo/AutomobileDemo/obj
/InterfaceDemo/.vs/InterfaceDemo
/InterfaceDemo/InterfaceDemo/bin/Debug/netcoreapp2.1
/InterfaceDemo/InterfaceDemo/obj
/OperatorOverloadingDemo/OperatorOverloadingDemo/bin/Debug/netcoreapp2.1
/OperatorOverloadingDemo/OperatorOverloadingDemo/obj
/OperatorOverloadingDemo/.vs/OperatorOverloadingDemo/v15
/.vs
/DelegatesDemo2/.vs/DelegatesDemo2/v15
/DelegatesDemo2/DelegatesDemo2/bin/Debug/netcoreapp2.1
/DelegatesDemo2/DelegatesDemo2/obj
